<div class="slider" id="slider">
    <button class="slider-btn slider-btn-prev" id="prevBtn">&#10094;</button>
    <button class="slider-btn slider-btn-next" id="nextBtn">&#10095;</button>

    <div class="slider-track" id="track">
        <div class="slider-slide">
            <img src="../Static/Img/london.jpg" alt="Лондон">
        </div>
        <div class="slider-slide">
            <img src="../Static/Img/ny.jpg" alt="Нью-Йорк">
        </div>
        <div class="slider-slide">
            <img src="../Static/Img/spb.jpg" alt="Санкт-Петербург">
        </div>
        <div class="slider-dots" id="dots"></div>
    </div>
</div>